.info {
  color: blue;
  background: aliceblue;
  font-size: 20px;
  border-style: solid;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 18px;
}

.error {
  color: red;
  background: aliceblue;
  font-size: 20px;
  border-style: solid;
  border-radius: 8px;
  padding: 18px;
  margin-bottom: 18px;
}

.blogStyle {
  background: gainsboro;
  border-radius: 8px;
  padding: 6px
}

.navStyle {
  color: black;
  background: lightsteelblue;
  border-radius: 8px;
  padding: 1px;
}
